/* -- General Settings -- */
* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

html {
	font-size: 62.5%; /* Equivalente a 10px*/
}

body {
	display: flex;
	justify-content: center;
	background-color: #222;
}

main {
	display: flex;
	position: relative;
	flex-direction: column;
	margin-top: 8rem;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #eef;
	width: 23vw;
	overflow: hidden;
	min-height: 70vh;
	border-radius: 2rem;
}

/* ---------------- IMAGES ------------------- */
.dogde-yellow {
	width: inherit;
	z-index: 1;
	justify-self: flex-end;
}
.dogde-boy {
	align-self: center;
	margin-top: -10rem;
	margin-bottom: 1rem;
	z-index: 2;
	height: 16vh;
}

.dogde-yellow img {
	width: 100%;
	z-index: 2;
}

.dogde-boy img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	z-index: 3;
}

/* --------------- INTRODUCTION -------------- */
.introduction {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
	/* background-color: #ff0; */
	margin-bottom: 2rem;
}

.introduction h1 {
	font-size: 1.9em;
}

.introduction p {
	margin-top: 1rem;
	text-align: center;
}

p,
li {
	font-size: 1.5em;
}

/* ----------------- CONTACT ---------------------- */
.contact {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	z-index: 2;
	height: 4vh;
	/* background-color: #0ff; */
}

ul {
	display: flex;
	width: 100%;
	justify-content: space-around;
	list-style-type: none;
}

/* -------------------- SOCIAL ----------------- */
.social {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 4rem;
	width: 100%;
	height: 8rem;
	z-index: 2;
	background-color: #ddd;
}

.social .following,
.social .follower {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	border: 1px solid #ccc;
	height: inherit;
}

.follower span,
.following span {
	font-size: 1.5em;
	font-weight: bold;
}

/* ---------------- FOLLOW ME ----------------- */
button {
	height: 4rem;
	display: block;
	width: inherit;
	z-index: 4;
	position: absolute;
	bottom: 0;
	background-color: #2fa;
}

button:hover {
	cursor: pointer;
	background-color: #1f5;
}
